$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-base: 16px; 
$space-md: 24px; 
$space-lg: 32px;
$space-xl: 40px;
$space-xxl: 48px; 
$space-xxxl: 56px;

$border-weight-01: 1px; 
$border-weight-02: 2px; 

$border-radius-xs: $space-xs; 
$border-radius-s: $space-s; 
$border-radius-base: $space-base; 
$border-radius-circle: 100px; 