.rounded{
    border-radius: 24px; 
}

.border-weight-base{

    border-width: 3px; 
}

.border-color-primary{
    border-color: $color-primary;

}

.border-radius-xl{
    border-radius: 24px; 
}

.border-radius-lg{
    border-radius: 16px; 
}

.border-radius-md{
    border-radius: 12px; 
}