@import 'mixins/mixins-spacing';
@import "./variables/text";

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }


	@mixin text-style-heading-1-text {
		font-weight:$font-weight-400;
		font-style: normal;
		letter-spacing: $letter-spacing-narrow;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-heading-2-text {
		font-size: $font-size-600;
		font-family: $body-font-family;
		font-weight:$font-size-500;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-body-text {
		font-size: $font-size-100;
		font-family: $body-font-family;
		font-weight:$font-weight-100;
		font-style: normal;
		line-height:$line-height-200;
		letter-spacing:$letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-small-body-text {
		font-size:0.875rem;
		font-family: $body-font-family;
		font-weight:$font-weight-100;
		font-style: normal;
		line-height:$line-height-150;
		letter-spacing:$letter-spacing-narrow;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-smallest-body-text {
		font-size:$font-size-075;
		font-family: $body-font-family;
		font-weight:$font-weight-100;
		font-style: normal;
		line-height:$line-height-150;
		letter-spacing:$letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	
	/* Use to label rows in UI Element Documentation  */
	@mixin text-style-element-component-label {
		font-size:$font-size-075;
		font-family: $body-font-family-accent;
		font-weight:$font-weight-200;
		font-style: normal;
		letter-spacing:$letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	
	/* Use this type style for any description text for a UI Element */
	@mixin text-style-element-description {
		font-size:0.625rem;
		font-family: $body-font-family-accent;
		font-weight:$font-weight-100;
		font-style: normal;
		letter-spacing:$letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	
	/* Use this text style to title a section of a documentation page */
	@mixin text-style-element-sub-heading {
		font-size: $font-size-300;
		font-family: $body-font-family-accent;
		font-weight:$font-weight-200;
		font-style:normal;
		letter-spacing:$letter-spacing-default;
		text-decoration:none;
		text-transform:none;
	}
	@mixin text-style-element-cell-documentation-label {
		font-size: $font-size-075;
		font-family: $body-font-family-accent;
		font-weight: $font-weight-200;
		font-style:normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-element-cell-documentation-title {
		font-size:0.625rem;
		font-family: $body-font-family-accent;
		font-weight: $font-weight-200;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-heading-3-text {
		font-size: $font-size-500;
		font-family: $body-font-family;
		font-weight: $font-weight-300;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-heading-4-text {
		font-size: $font-size-300;
		font-family: $body-font-family;
		font-weight: $font-weight-400;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-heading-5-text {
		font-size: $font-size-200;
		font-family: $body-font-family;
		font-weight: $font-weight-300;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-heading-6-text {
		font-size: $font-size-100;
		font-family: $body-font-family;
		font-weight: $font-weight-400;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin text-style-element-cell-variable {
		font-size: $font-size-050;
		font-family: $body-font-family-accent;
		font-weight: $font-weight-200;
		font-style: normal;
		letter-spacing: $letter-spacing-default;
		text-decoration: none;
		text-transform: none;
	}
	@mixin effect-style-swatch-drop-style {
		box-shadow: inset 0px 3px 6px rgba(0,0,0,0.160);
	}