@import '../abstracts/mixins';
@import '../abstracts/variables';

.home-header{
    position: absolute;
    width: 100%;
    padding: $space-lg;
    padding-top: $space-base; 
    padding-left: $space-xl; 

    }

  .sub-page{  
      // padding:0; 
      position: fixed; 
      background: #FAFDFF;
      box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.16);
      justify-content: space-between;
      z-index: 1;
      padding-top: 0px; 
      padding-left: $space-xl; 
  }
  
  

  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }
  
  // .sticky + .content {
  //   padding-top: 102px;
  // }