@import '../abstracts/mixins';
@import '../abstracts/variables';

.myHeader{
    position: absolute;
    width: 100%;
    padding: $space-lg;

    }

  .sub-page{  
      // padding:0; 
      position: fixed; 
      background: #FAFDFF;
      box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.16);
      justify-content: space-between;
  }
  
  

  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }
  
  // .sticky + .content {
  //   padding-top: 102px;
  // }