.module-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 800px;
}

.module-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.page-content {
    display: flex; 
    flex-direction: column;
    gap: 8px;
}